/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2017, 5:10:34 PM
    Author     : kratiyag.gupta
*/

body
{
    background-image : url("../images/1(1).jpg");
}
.table-style
{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.color-white
{
    color: white;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  color: whitesmoke;
}
.table-hover> tbody> tr:nth-child(2n):hover> td
{
  background-color: gray;
}